---
import External from "@assets/icons/external.svg";
import Share from "@assets/icons/share.svg";
import Button from "@components/Button.astro";
import "../styles/blog.scss";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";
import { getLocaleFromUrl } from "@i18n";
import type { BlogData } from "src/content.config";

type Props = {
  frontmatter: BlogData;
};

const { frontmatter } = Astro.props;

const createdAt = new Date(frontmatter.createdAt);
const lastEditedAt = frontmatter.lastEditedAt
  ? new Date(frontmatter.lastEditedAt)
  : undefined;

const lang = getLocaleFromUrl(Astro.url);
---

<Layout
  title={frontmatter.title}
  description={frontmatter.summary}
  image={frontmatter.bannerPath}
>
  <div id="summary-header">
    <div class="text">
      <h1>{frontmatter.title}</h1>

      <p>
        <time datetime={createdAt.toDateString()}>
          {
            createdAt.toLocaleString(lang, {
              month: "long",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
        {frontmatter.clientText ? `• ${frontmatter.clientText}` : ""}
        {
          lastEditedAt ? (
            <span class="edited">
              • Edited on
              <time datetime={lastEditedAt.toDateString()}>
                {lastEditedAt.toLocaleString(lang, {
                  month: "long",
                  day: "numeric",
                  year: "numeric",
                })}
              </time>
            </span>
          ) : (
            ""
          )
        }
      </p>

      <div class="buttons">
        {
          frontmatter.projectUrl ? (
            <Button href={frontmatter.projectUrl}>
              <External />
              View project
            </Button>
          ) : (
            ""
          )
        }

        <Button id="share-sheet" variant="secondary">
          <Share />
          Share article
        </Button>
      </div>
    </div>

    {
      frontmatter.bannerPath ? (
        <Image
          src={frontmatter.bannerPath}
          alt={frontmatter.bannerAlt || ""}
          style={`background-image: url(${frontmatter.bannerThumbnailPath});`}
        />
      ) : (
        ""
      )
    }
  </div>

  <main>
    <slot />
  </main>
</Layout>

<style lang="scss">
  #summary-header,
  main {
    padding: 1rem;
    margin: 1rem auto;
  }

  main {
    max-width: 75ch;
  }

  #summary-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      text-align: center;
      max-width: 75ch;
    }

    .buttons {
      display: flex;
      gap: 0.5rem;
    }

    img {
      border-radius: 1.25rem;
      border: 2px solid var(--color-850);
      width: 100%;
      max-width: calc(75ch + 100px);
    }
  }

  .edited {
    color: var(--color-600);
  }
</style>
